<p>Hello world</p>
<button>{{ 'Login' | translate }}</button>
<button>{{ 'Register' | translate }}</button>

<div>
  <button (click)="setLang('zh')">zh</button>
  <button (click)="setLang('en')">en</button>
</div>
